/* Fonts
-----------------------------------*/
@font-face {
    font-family: arfmoochikncheez;
    src: url(./fonts/arfmoochikncheez.ttf);
}

/* Style
-----------------------------------*/
body {
    background: #1b2036;
    color: white;
    margin: 50px 0 0 0;
    padding: 0;
}

.title-container {
    height: 230px;
    overflow: hidden;
    position: fixed;
    margin-top: -115px;
    top: 50%;
    width: 100%;
}

.versus-img {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 120px;
    width: 150px;
}


.skater-name-item {
    width: 50%;
}
.skater-name-item:first-of-type {
    float: left;
    text-align: right;
}
.skater-name-item:last-of-type {
    float: right;
    text-align: left;
}
.skater-name {
    color: white;
    cursor: pointer;
    font-size: 200px;
    font-family: arfmoochikncheez;
    padding: 0 50px;
    text-transform: uppercase;
}


.selected-skater {
    font-family: arfmoochikncheez;
    font-size: 400px;
    margin-top: -400px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
}

.controls {
    bottom: 20px;
    position: fixed;
    right: 20px;
}
.button {
    background: #405083;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 20px;
    width: 200px;
}


.timer-label {
    font-size: 200px;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
}

.logo {
    bottom: 20px;
    left: 20px;
    position: fixed;
    width: 250px;
}

.winner-section {
    background: #405083;
    font-size: 120px;
    font-family: helvetica;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
}
